 .content {
   text-align: center;
 }

 .navborderbtbalck {
   border-bottom: rgba(138, 131, 131, 0.295) 0.5px solid;
 }

 .menubar {
   background-color: white !important;
 }

 .cursor {
   cursor: pointer;
 }

 .navdrop {
   outline: 0;
   border: none !important;
   background-color: white !important;
   color: #000;


 }